/**
 * Some base css for this site
 * Copyright and stuff blah blah blah idk
 */
 
/** Page **/
.page {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  -webkit-box-shadow: 0 1px 6px 1px #999;
  -moz-box-shadow: 0 1px 6px 1px #999;
  box-shadow: 0 1px 6px 1px #999;
}

.page > .highlight pre code { display: block; white-space: pre; overflow-x: auto; } /* Other Styling */

